.forumContainer {
}

.threadContainer {
  list-style: none;
  padding: 25px;
  padding-bottom: 100px;
}

.thread {
  box-shadow: 0 0 10px rgb(57, 38, 14);
  margin: 25px 0;
  padding: 25px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}

@media (max-width: 500px) {
  .thread {
    flex-direction: column;
    gap: 50px;
    font-size: 16px;
  }
  .postInfo {
    background-color: #e0bb002f;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }
}

.thread:hover {
  scale: 1.02;
}
.thread:active {
  box-shadow: 0 0 10px rgba(57, 38, 14, 0.286);
  scale: 1;
}

.startADiscussionButton {
  margin-top: 65px;
  margin-left: 25px;
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  margin-right: 20px;
  border-radius: 8px;
  background-color: #432009;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(57, 38, 14);
  &:active {
    box-shadow: none;
  }
}

.startADiscussionButton:hover {
  background-color: #e0bb00;
}

.btn-outline-secondary {
  border-color: #432009 !important;
  color: #432009 !important;
}

.btn-outline-secondary:hover {
  background-color: #432009 !important;
  color: white !important;
}
