.forumContainer {
  min-height: 800px;
  width: 100%;
  background: linear-gradient(white,#6c4d38)
} 

.threadContainer {
  list-style: none;
  padding: 25px;
}

.thread {
  /* background: linear-gradient(#422c1d, rgb(129, 129, 129)  );s */
  box-shadow: 20px 20px 50px  rgb(57, 38, 14);
  margin: 25px 0;
  padding: 25px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
}

.thread:hover {
  background-color: rgba(255, 255, 255, 0.26);
}

.startADiscussionButton {
  margin-top: 65px;
  margin-left: 40px;
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  margin-right: 20px;
  border: 2px solid #685902ad; /* Muted gold border */
  border-radius: 8px;
  background-color: #685902ad; /* Muted gold background color */
  transition: all 0.3s ease;
  cursor: pointer;


}

.startADiscussionButton:hover {
    background-color: #e0bb00; /* Darker gold on hover */
    border-color: #e0bb00; /* Darker gold border on hover */
}